
#settingsButtons {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: .5em;
}


#settingsButtons button{
    width: 90%;
    margin-top: .5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tip, #version, #credit {
    width: 90%;
    margin-top: .5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #dddddd;
    padding: .5em;
    border-radius: .5em;
    -webkit-border-radius: .5em;
}
